nav{ 
    background-color:rgb(255, 255, 255); 
    padding : 20px; 
    margin : 80px; 
} 

.logo2{ 
    color: rgb(8, 8, 150); 
    font-size:20px; 
    font-family:cursive; 
    padding-left:60px; 
}

b, li, ul{ 
    display : inline; 
}

li, ul{ 
    padding:20px; 
}
