nav{ 
    background-color:rgb(255, 255, 255); 
    padding : 20px; 
    margin : 80px; 
} 

.logo3{ 
    color: rgb(8, 8, 150); 
    font-size:20px; 
    font-family:cursive; 
    padding:20px 50px; 

}

b, li, ul{ 
    display : inline; 
}

li, ul{ 
    padding:20px; 
}

input{
    margin : 50px;
    background-color: rgb(239, 238, 238);
    border-radius: 5px;
}
